!!! 5
%html{ lang: "en-gb" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ name: "description", content: "Discographer fetches albums by artists in your library using the Spotify API and highlights the ones you own" }

    %title Discographer - Discover more albums by the artists you love

    %link{ rel: "icon", href: "favicon.ico" }
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    #landing
      .container
        .row
          .col-xs-12.text-center
            %header
              %h1 Discographer
              %p Discover more albums by the artists you love.

            .drop-ring
            .drop-icon
              = image_tag "file.png", alt: "iTunes Music Library.xml"

            %p.instructions
              %span Drag your iTunes library here from
              %code.lib-path /Users/USERNAME/Music/iTunes/iTunes Music Library.xml

      #dropzone

      .about
        :markdown
          Discographer fetches albums by artists in your library using the [Spotify API](https://developer.spotify.com/web-api/) and highlights the ones you own. Your library is never uploaded or shared.

          Feedback? Tweet [@samrayner](http://twitter.com/samrayner)

      = link_to "https://github.com/samrayner/discographer", class: "github-ribbon" do
        = image_tag "https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt: "Fork me on Github"

    .progress
      .progress-bar#progress
    #output
